<body>
<div class="blur-container">
    
        <!-- <img src="\assets\joanna-kosinska-7ACuHoezUYk-unsplash.jpg" alt=""> -->
        <div class="content">
            <button mat-stroked-button color="warn" (click)="regBtn()">Register</button>
            <button mat-raised-button color="warn" (click)="logBtn()">Login</button>
            <!-- <button mat-stroked-button color="primary" (click)="showBtn()">Show User</button> -->
            <!-- <button mat-stroked-button color="primary" (click)="dataBtn()">Database</button> -->


    </div>
</div>
</body>
